@font-face {
  font-family: "Galmuri9";
  font-weight: normal;
  src: url("./fonts/Galmuri9.ttf");
}

#root {
  margin: 0;
  min-width: 640px;
  min-height: 100vh;
  background-size: 100vh;
  /* background-repeat: no-repeat; */
}

body {
  margin: 0;
}

body * {
  font-family: "Galmuri9";
}
