@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Galmuri9";
  font-weight: normal;
  src: url("./fonts/Galmuri9.ttf");
}

@font-face {
  font-family: "Galmuri11-Bold";
  font-weight: bold;
  src: url("./fonts/Galmuri11-Bold.ttf");
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./background.svg");
  background-size: cover;
}

body * {
  font-family: "Galmuri9";
}

.title {
  font-family: "Galmuri11-Bold";
  font-size: 5rem;
}
