spring:
  application:
    name: scf

  datasource:
    url: jdbc:mariadb://localhost:3306/scf_db?characterEncoding=utf8mb4
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: ed9658pi
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379
  jwt:
    secret: "7d1b1d6d36d8e6a8f1bda6a7f473f87b012b0345a1b5f"
    access-token-expiry: 3600000 # 10분
    refresh-token-expiry: 86400000 # 1일

logging:
  level:
    org:
      hibernate:
        SQL: debug
    com:
      scf:
        user:
          global:
            com.scf.user.infrastructure.security.LoginFilter: debug

server:
  error:
    include-message: always
    include-binding-errors: always