.battle-list-entire-container {
  height: 100vh;
}

.battle-list-outer-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.battle-list-outer-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 26, 85, 0.8);
  width: 80vw;
  border-radius: 20px;
  height: 80vh;
  margin: 20px;
  margin-top: 40px;
  min-width: 900px;
}

.battle-list-title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.battle-list-title {
  color: white;
  letter-spacing: 2px;
}

.battle-list-side-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  overflow-y: auto;
  height: 95%;
  margin-bottom: 0.5%;
}

.battle-list-container {
  display: flex;
  flex-direction: column;
  width: 67%;
  overflow-y: auto; /* 세로 스크롤을 허용 */
  border: 3px solid #ccc; /* 스크롤 영역을 구분하기 위한 테두리 (선택 사항) */
  border-radius: 5px;
  margin-right: 1%;
}

.battle-side-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 3px solid #ccc;
  border-radius: 5px;
}

.battle-room-none {
  color: white;
  text-align: center;
}

.battle-room p {
  flex: 1;
}

.battle-list-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

.battle-list-search-container input {
  width: 75%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0 10px;
}

.battle-list-search-container button {
  width: 25%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f3f5f7;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.battle-list-refresh-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
}

.battle-list-create-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
}

.battle-list-refresh-container button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f3f5f7;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.battle-list-create-container button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f3f5f7;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.battle-room {
  color: white;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 2fr 3fr;
  justify-items: center;
  align-items: center;
  margin: 15px 50px;
  background-color: rgba(27, 26, 85, 0.7);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  min-height: 80px;
  height: 80px;
  max-height: 80px;
}

.battle-list-inner-title {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 2fr 3fr;
  justify-items: center;
  align-items: center;
  color: white;
  margin: 15px 50px;
  margin-top: 30px;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.battle-list-inner-title p {
  flex: 1;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}

.battle-list-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 60%;
  max-height: 600px;
  height: auto;
}

.battle-list-modal-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

.battle-list-modal-inner-container h3 {
  margin: 0;
  color: black;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 2px;
}

.battle-list-modal-inner-container hr {
  width: 100%;
  margin: 10px;
}

.battle-list-modal-inner-container input {
  width: 95%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px 0;
  font-size: 1.2rem;
  padding: 5px 0px;
  padding-left: 5%;
}

.battle-list-modal-inner-container button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f3f5f7;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 10px 0;
}

.battle-list-container hr {
  width: 97%;
  height: 3px;
  margin: 10px;
  background-color: white;
}

.battle-game-damage-color {
  color: orangered;
}

.battle-game-heal-color {
  color: greenyellow;
}
