.battle-game-entire-container {
  height: 100vh;
}

.battle-game-outer-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.battle-game-outer-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 26, 85, 0.7);
  width: 80vw;
  max-width: 1200px;
  border-radius: 20px;
  height: 75vh;
  margin: 20px;
  padding: 30px;
  min-width: 900px;
}

.battle-game-title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.battle-game-title {
  margin: 0;
  color: white;
  letter-spacing: 2px;
  border-radius: 2px;
  padding: 0 10px;
}

.health-bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  height: 20px;
  background-color: red;
  border-radius: 2px;
  border: 3px solid white;
}

.health-bar:first-child {
  left: 10px;
}

.health-bar:last-child {
  right: 10px;
}

.health-bar-inner {
  height: 100%;
  background-color: yellow;
  border-radius: 2px;
  transition: width 1s ease; /* 애니메이션 추가 */
}

.battle-game-container {
  display: flex;
  flex-direction: row;
  height: 90%;
}

.battle-game-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 10px;
  width: 220px;
  min-width: 220px;
  height: auto;
}

.battle-game-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 10px;
  width: 220px;
  min-width: 220px;
}

.battle-game-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding: 10px;
  width: 100%;
}

.battle-game-problem {
  width: 100%;
  height: 70%;
  border: 2px solid white;
  border-radius: 2px;
}

.battle-game-answer {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 2px;
}

.battle-game-upper-answer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.battle-game-lower-answer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.battle-game-answer button {
  width: 15vw;
  margin: 2%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.battle-game-left-cam {
  width: 220px;
  height: 220px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.battle-game-right-cam {
  width: 220px;
  height: 220px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.battle-game-chatting-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  max-width: 225px;
  border: 1px solid white;
  margin: 10px;
}

.battle-game-chatting {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1rem;
}

.battle-game-history-message {
  word-wrap: break-word;
}

.battle-game-chatting-message {
  margin-top: 10px;
  word-wrap: break-word;
}

.battle-game-chat-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.battle-game-chat-input input {
  flex: 1;
  border-radius: 5px;
  border: 1px solid white;
  color: black;
}

.battle-game-chat-input button {
  margin-left: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.battle-game-history-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  height: 225px;
  border: 1px solid white;
  margin: 10px;
}

.battle-game-history-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  font-size: 1.2rem;
  color: white;
}

.battle-game-history {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1rem;
}

.battle-game-history-message {
  margin-top: 10px;
}

.battle-game-sub-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: white;
}

.battle-game-sub-title-player {
  width: 45%;
  text-align: center;
}

.battle-game-sub-title-player:first-of-type {
  text-align: left;
  margin-left: 30px;
}

.battle-game-sub-title-player:last-of-type {
  text-align: right;
  margin-right: 30px;
}

.battle-game-sub-title-timer {
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.battle-game-game-start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.battle-game-game-start-title {
}

.battle-game-game-start-button {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

.battle-game-select-problem-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 60%;
  max-height: 300px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.battle-game-select-problem-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;

  text-align: center;
}

.battle-game-select-problem-container {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 200px;
  justify-content: center;
}

.battle-game-select-problem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;
  margin: 20px;
}

.battle-game-select-problem hr {
  width: 80%;
  margin: 10px;
}

.battle-game-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.battle-game-result-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.battle-game-result-content {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.battle-game-submit-answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
