.battle-game-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 50, 0.7);
  width: 1400px;
  height: 600px;
  border-radius: 20px;
  color: white;
  padding: 3px 5px 10px 5px;
}


.battle-game-header{
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  border: 3px solid black;
  border-radius: 10px;
}

.your-hp {
  display: flex;
  width: 40%;
  height: 100%;
  border: 3px solid black;
  border-radius: 10px;
}

.battle-status {
  display: flex;
  width: 20%;
  height: 100%;
  border: 3px solid black;
  border-radius: 10px;
}

.battle-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.battle-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.my-hp {
  display: flex;
  justify-content: right;
  width: 40%;
  height: 100%;
  border: 3px solid black;
  border-radius: 10px;
}

.battle-game-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
  border: 3px solid black;
  border-radius: 10px;
}

.battle-game-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
  border-radius: 20px;
  color: white;
  border: 3px solid black;
  border-radius: 10px;  
}

.battle-game-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
  border-radius: 20px;
  color: white;
  border: 3px solid black;
  border-radius: 10px;
}

.battle-game-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
  border-radius: 20px;
  color: white;
  border: 3px solid black;
  border-radius: 10px;
}

.your-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
  border: 3px solid black;
  border-radius: 10px;
}

.battle-rank-table {
  overflow-y: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65%;
  border: 3px solid black;
  border-radius: 10px;
}

/* 스크롤바의 폭 너비 */
.battle-rank-table::-webkit-scrollbar {
  width: 10px;  
}

/* 스크롤바 막대 */
.battle-rank-table::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(148, 226, 148), rgb(72, 129, 199), rgb(229, 141, 229), pink, rgb(228, 103, 103));
  border-radius: 10px;
}

.battle-rank-table::-webkit-scrollbar-track {
  background: rgba(214, 193, 212, 0.1);
}

.battle-rank-table::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to bottom, rgb(148, 226, 148), rgb(72, 129, 199), rgb(229, 141, 229), pink, rgb(228, 103, 103));
}

.battle-rank-items {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  justify-items: center;
  align-items: center;
  width: 20vw;
  height: 50px;
  border: 3px solid black;
  border-radius: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.battle-rank-items h3, h4 {
  justify-self: start;
  padding: 0px 25px;
  max-width: 80%; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.my-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
  border: 3px solid black;
  border-radius: 10px;
}

.battle-message-room {
  overflow-y: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 55%;
  border: 3px solid black;
  border-radius: 10px;
}

/* 스크롤바의 폭 너비 */
.battle-message-room::-webkit-scrollbar {
  width: 10px;  
}

/* 스크롤바 막대 */
.battle-message-room::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(148, 226, 148), rgb(72, 129, 199), rgb(229, 141, 229), pink, rgb(228, 103, 103));
  border-radius: 10px;
}

.battle-message-room::-webkit-scrollbar-track {
  background: rgba(214, 193, 212, 0.1); 
}

.battle-message-room::-webkit-scrollbar-thumb:hover {
	background-color:#181883;
}