.game-button {
  height: 7vh;
  width: 100%;
  margin: 10px 0px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  overflow: hidden;
}

.game-button:hover {
  background-color: #0056b3;
}

.game-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.game-start-button {
  width: 205px;
  height: 70px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgba(12, 12, 51, 0.7);
  color:white;
  font-size: 40px;
  text-align: center;
  overflow: hidden;
}

.game-start-button:hover {
  background-color: #0056b3;
}

.password-button {
  height: 7vh;
  width: 20%;
  margin: 10px 0px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  overflow: hidden;
}

.password-button:hover {
  background-color: #0056b3;
}
