.game-button {
  height: 7vh;
  width: 100%;
  margin: 10px 0px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.game-button:hover {
  background-color: #0056b3;
}

.game-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
