.change-password-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.change-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 50vw;
  max-width: 500px;
  border-radius: 20px;
  height: 40vh;
}

.change-password-container input {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #1b1a55;
  border-radius: 5px;
}

.change-password-button {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #1b1a55;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
}

@font-face {
  font-family: "Galmuri11-Bold";
  font-weight: bold;
  src: url("../fonts/Galmuri11-Bold.ttf");
}

.change-password-title {
  font-family: "Galmuri11-Bold";
  font-size: 2rem;
  margin-top: 120px;
  margin-bottom: 60px;
}
