.fill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 95%;
  margin-top: 10px;
}

.fill-problem {
  display: flex;
  align-items: center;
  width: 95%;
  max-height: 50%;
}

.fill-choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-height: 35%;
  font-size: 1.2rem;
  margin-top: 5px;
}

.fill-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-height: 15%;
}

.fill-button {
  margin: 5px;
  padding: 10px 20px;
  width: 150px;
  height: 60px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap; /* 버튼 텍스트 줄바꿈 방지 */
}

.fill-button:hover {
  background-color: rgb(136, 136, 136);
  transition: background-color 0.3s ease;
  color: black;
}

