.find-password-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.find-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 50vw;
  max-width: 500px;
  border-radius: 20px;
  height: 40vh;
}

.find-password-user-id-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.find-password-user-id-container button {
  width: 20%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #1b1a55;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 2%;
  min-width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.find-password-password-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.find-password-container input {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #1b1a55;
  border-radius: 5px;
}

.find-password-next {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #1b1a55;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 20px;
}

@font-face {
  font-family: "Galmuri11-Bold";
  font-weight: bold;
  src: url("../fonts/Galmuri11-Bold.ttf");
}

.find-password-title {
  font-family: "Galmuri11-Bold";
  font-size: 2rem;
  margin: 40px;
  margin-bottom: 60px;
}
