.find-password-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.find-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(255, 255, 255, 0.7);
  width: 50vw;
  max-width: 500px;
  border-radius: 20px;
  height: 40vh;
}

.find-password-user-id-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.find-password-user-id-container button {
  width: 20%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #1b1a55;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 2%;
  min-width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.find-password-user-id-container button:hover {
  background-color: #d3d3d3;
}


.find-password-password-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.find-password-password-container button {
  width: 20%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #1b1a55;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 2%;
  min-width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.find-password-password-container button:hover {
  background-color: #d3d3d3;
}

.find-password-container input {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #1b1a55;
  border-radius: 5px;
}

.find-password-next {
  width: 80%;
  border: none;
  border-radius: 5px;
  background-color: #1b1a55;
  color: white;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

}
.find-password-next:hover {
  background-color: #3332a3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



@font-face {
  font-family: "Galmuri11-Bold";
  font-weight: bold;
  src: url("../fonts/Galmuri11-Bold.ttf");
}

.find-password-title {
  font-family: "Galmuri11-Bold";
  font-size: 2rem;
  margin-top: 120px;
  margin-bottom: 60px;
}
