@font-face {
  font-family: "Galmuri11-Bold";
  font-weight: bold;
  src: url("../fonts/Galmuri11-Bold.ttf");
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
} */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(0, 0, 50, 0.7);
  border-radius: 20px; */
  height: 80vh;
  width: 80vw;
  margin: 0;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 10%;
}

.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgba(0, 0, 50, 0.7);
  border-radius: 5px; */
  height: 80vh;
  width: 80vw; 
  /* margin: 0; */
}

.list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(0, 0, 50, 0.4); */
  width: 70%;
  border: 3px solid #ccc;
  border-radius: 5px;
  height: 95%;
  color: white;
}

.game-list-header {
  display: flex;
  width: 98%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  /* border: 3px solid black;
  border-radius: 10px; */
}

.white-line {
  width: 98%;
  height: 3px;
  background-color: white;
  margin: 10px;
}

.game-room-index {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 2fr 2fr 2fr;
  justify-items: center;
  align-items: center;
  width: 99%;
  height: 60%;
}

.game-room-index h2 {
  justify-self: start;
  padding-left: 20px;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.game-list {
  overflow-y: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 98%;
  height: 80%;
  display: flex;
  justify-content: center;
  /* border: 3px solid black; */
  /* background-color: rgba(5, 7, 66, 0.4); */
  border-radius: 10px;
}


/* 스크롤바의 폭 너비 */
.game-list::-webkit-scrollbar {
  width: 10px;
}

/* 스크롤바 막대 */
.game-list::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgb(148, 226, 148),
    rgb(72, 129, 199),
    rgb(229, 141, 229),
    pink,
    rgb(228, 103, 103)
  );
  /* border: 2px solid #a480b9; */
  border-radius: 10px;
}

.game-list::-webkit-scrollbar-track {
  background: rgba(214, 193, 212, 0.1);
}

.game-list::-webkit-scrollbar-thumb:hover {
  background-color: #181883;
}

.room-items {
  display: grid;
  grid-template-columns: 6fr 25fr 14fr 12fr 13fr 13fr;
  justify-items: center;
  align-items: center;
  width: 99%;
  height: 80px;
  margin: 5px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  /* border: 3px solid white; */
  border-radius: 5px;
}

.room-items h3 {
  justify-self: start;
  padding-left: 25px;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.room-items img {
  justify-self: start;
  padding-right: 25px;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.room-items:hover {
  background-color: #0056b3;
}


.side-container {
  width: 25%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 3px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}


.multi-list-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 30px 0px;
}

.multi-list-search-container input {
  width: 70%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-right: 10px;
}

.multi-list-search-container button {
  width: 25%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f3f5f7;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}


.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}


.button-container button {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f3f5f7;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
