.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  padding-top: 20px;
}

.header-title {
  cursor: pointer;
  margin: 0;
}

.header-icon {
  display: flex;
}

.user-icon,
.setting-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.header-back-button {
  /* background-color: rgba(255, 255, 255, 0.7); */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  /* border : 1px solid black; */
  border-radius : 5px;
  font-size : 2rem;
}
