.header-container {
  position: relative;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-title {
  font-size: 2.2rem;
  font-weight: bold;
  color : white;
  text-shadow: #1B1A55 1px 1px, #1B1A55 -1px 0px, #1B1A55 1px 0px,#1B1A55 0px 1px,#1B1A55 0px -1px,#1B1A55 -0px 0px, #1B1A55 -1px 1px, #1B1A55 -2px 2px, #1B1A55 -3px 3px, #1B1A55 -4px 4px, #1B1A55 -5px 5px, #1B1A55 -6px 6px, #1B1A55 -7px 7px, #1B1A55 -8px 8px, #1B1A55 -9px 9px;
}

.header-icon {
  display: flex;
}

.gift-icon,
.user-icon,
.setting-icon {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.header-back-button {
  position: absolute;
  left: 30px;
  top: 20px;

  /* background-color: rgba(255, 255, 255, 0.7); */
  font-size: 1rem;
  font-weight: bold;
  /* border : 1px solid black; */
  border-radius: 5px;
  font-size: 2rem;
}
.header-right {
  position: absolute;
  right: 30px;
  top: 20px;
}
