.base-Input-root {
  width: 100%;
  border: 2px solid white;
  /* background-color: none; */
}

.base-Input-input {
  width: 90%;
  height: 100%;
  background-color: rgb(250, 248, 250, 0);
  color: white;
  border-radius: 0;
  font-size: 1.2rem;
}

.input-area {
    min-height:50px;
    display: flex;
    border-radius: 5px;
    bottom: 0;
    width: 94%;
    /* background-color: white; */
    border: 2px solid white;
    margin: 0 2% 2% 2%;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 100%;
  }
  
  .MuiInput-root{
    height: 100%;
    width: 100%;
    border:none;
    border-color: white;
  }
  
  
  input{
    border:none;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    padding-left: 5px;
  }
  input:focus{
    outline:none;
  }

  
  .send-button{
    min-width: 70px;
    background-color: rgb(250, 248, 250, 0.5);
    border: 2px solid white;
    font-size: 16px;
    color: white;
    /* border:none; */
  }
  .send-button:hover {
    background-color: rgb(250, 248, 250, 0.75);
  }
  