.select-box {
  background-color: rgba(27, 26, 85, 0.8);
  width: 18vw;
  border-radius: 20px;
  height: 65vh;
  z-index: 1;
  margin: auto;
  margin-top: 60px;
  padding: 20 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mode {
  color: white;
}
