.password-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgba(116, 50, 197, 0.7);  
  border-radius: 5px;
  width: 45vw;
  height: 10vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.password-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.password-input {
  height: 7vh;
  width: 20vw;
  font-size: 28px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

.modal {
  width: auto;
  height: auto;
}

.modal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10;
}

.warning-img {
  width: 40px;
  height: 40px;
}

.warning-text {
  margin: 0;
  padding-left: 10px;
}
