.problem-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  /* border: 3px solid blue;
  border-radius: 10px; */
}

.problem-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: black;
  border-radius: 10px;
  color: white;
  /* padding: 2%; */
  font-size: 1.3rem;
}

.problem-content h2, p {
  margin: 3%;
}

.choice-button {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(103, 80, 162, 0.5);
  border-radius: 10px;
  font-size: 1.3rem;
}

.choice-button:hover {
  background-color: rgba(56, 40, 99, 0.7);
}