.outer-container {
  height: 100vh;
}

.record-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 26, 85, 0.7);
  width: 80vw;
  max-width: 1200px;
  border-radius: 20px;
  height: 70vh;
  margin: 50px;
  padding: 30px;
}

.record-title {
  margin: 0;
  padding-left: 40px;
  color: white;
  letter-spacing: 2px;
}

.record-container hr {
  width: 100%;
  margin: 10px;
  border: 1px solid white;
}

.record-inner-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 26, 85, 0.7);
  width: 100%;
  border-radius: 20px;
  height: 100%;
}

.record-inner-title {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.record-inner {
  display: flex;
  flex-direction: column;
}

.record {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
  margin: 15px;
  color: black;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
