.outer-container {
  height: 100vh;
}

.record-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 26, 85, 0.8);
  width: 80vw;
  border-radius: 20px;
  height: 80vh;
  margin: 20px;
  margin-top: 50px;
}

.record-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.record-title {
  margin: 0;
  color: white;
  letter-spacing: 2px;
  font-size: 2rem;
  margin-top: 20px;
}

.record-inner-container-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 83%;
}

.record-inner-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  border-radius: 5px;
  height: 100%;
  min-height: 100%;
  border: 3px solid #ccc;
}

.record-inner-container hr {
  width: 98%;
  height: 2px;
  background-color: #ccc;
  margin: 10px;
}

.record-inner-title {
  color: white;
  margin: 5px 50px;
  margin-top: 15px;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 2fr;
  align-items: center;
}

.record-inner-title p {
  flex: 1;
}

.record-inner {
  display: flex;
  flex-direction: column;
}

.record-inner h1 {
  color: white;
  text-align: center;
}

.record {
  color: white;
  margin: 10px 50px;
  padding: 10px 0px;
  color: white;
  background-color: #1b1a55b3;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 2fr;
  align-items: center;
}

.record p {
  flex: 1;
}

.record-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.record-pagination button {
  margin: 5px;
  font-size: 1.2rem;
  width: 30px;
}
