.report-entire-container {
  height: 100vh;
}

.report-outer-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(27, 26, 85, 0.7);
  width: 70vw;
  max-width: 1200px;
  border-radius: 20px;
  height: 75vh;
  margin: 20px;
  padding: 30px;
}

.report-upper-container {
  width: 95%;
  height: 50%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 2px;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.report-profile-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 120px;
  background-color: rgba(27, 26, 85, 0.7);
  border-radius: 20px;
}

.report-profile-name {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  width: 60%;
  min-width: 120px;
  margin-top: 20px;
}

.report-profile-container img {
  width: 60%;
  min-width: 120px;
  border-radius: 5px;
}

.report-upper-title-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 10%;
}

.report-upper-sub-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.report-upper-title {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.report-beta {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3px;
  border-radius: 5px;
}

.report-upper-title-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.report-upper-title-button {
  width: 25%;
  margin: 20px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px;
}

.report-lower-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 26, 85, 0.7);
  width: 95%;
  border-radius: 20px;
  height: 50%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.report-lower-title-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.report-lower-title {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.report-lower-sub-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.report-inner-container {
  padding: 20px;
}

.report {
  font-size: 1rem;
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
}
