.modal {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.setting-close {
  width: 25px;
  height: 25px;
}

.setting-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.setting-title h2 {
  margin: 0;
  user-select: none;
}

.setting {
  border: solid 1px black;
  padding: 10px;
  user-select: none;
}
