.signup-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 50vw;
  max-width: 500px;
  border-radius: 20px;
  height: 65vh;
  padding : 10px;
  margin-top : 80px;
}

.signup-container input {
  width: 80%;
  height: 45px;
  margin-top: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #1b1a55;
  border-radius: 5px;
}

.signup-container button {
  width: 80%;
  height: 55px;
  border: none;
  border-radius: 5px;
  background-color: #1b1a55;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 30px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

}


.modal {
  width: 100%;
  height: 100%;
}

.modal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10;
}

.warning-img {
  width: 40px;
  height: 40px;
}

.warning-text {
  margin: 0;
  padding-left: 10px;
}

@font-face {
  font-family: "Galmuri11-Bold";
  font-weight: bold;
  src: url("../fonts/Galmuri11-Bold.ttf");
}

.signup-title {
  font-family: "Galmuri11-Bold";
  font-size: 4.5rem;
  margin: 30px;
  margin-bottom: 50px;
}

.signup-userId {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 83%;
}

.duplicate-chk {
  width: 20%;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #1b1a55;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.duplicate-chk:hover {
  background-color: #d3d3d3;
}


/* Hide date input icon for different browsers while keeping the date picker functionality */
.custom-date-input {
  position: relative;
  width: 100%;
}

.custom-date-input::-webkit-calendar-picker-indicator {
  opacity: 0; /* Make the icon invisible */
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
}

.custom-date-input::-webkit-clear-button,
.custom-date-input::-webkit-inner-spin-button {
  display: none;
}

.custom-date-input::-moz-calendar-picker-indicator {
  display: none;
}

.custom-date-input {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}
